{% extends "points/points_master_page.html" %}
{% block includes %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascript/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascript/jquery.validate.js"></script>
{% endblock %}
{% block title %}
    <title xmlns="http://www.w3.org/1999/html">Рассказать про точку доступа</title>
{% endblock %}
{% block content %}
    <div class="post">
        <form id="add_post_form">
            <p>
                <label for="name">Введите название точки: </label>
                <input type="text" name="name" id="name" class="required" minlength="2">
            </p>
            <p>
                <label for="provider">Укажите пожалуйста провайдера: </label>
                <select id="provider">
                </select>
            </p>
            <p>
                <label>Качество сигнала: </label>
                <p>
                    <input type="radio" name="signal_quality" value="1">
                        <img src="{{ STATIC_PREFIX }}images/signal_strength/1.png">
                    <input type="radio" name="signal_quality" value="2">
                        <img src="{{ STATIC_PREFIX }}images/signal_strength/2.png">
                    <input type="radio" name="signal_quality" value="3" checked="checked">
                        <img src="{{ STATIC_PREFIX }}images/signal_strength/3.png">
                    <input type="radio" name="signal_quality" value="4">
                        <img src="{{ STATIC_PREFIX }}images/signal_strength/4.png">
                </p>
            </p>
            <p>
            <label>Тык тык на карте место: </label>
            <div id="map">
            </div>
            <script src="{{ STATIC_PREFIX }}javascript/add-point.js"></script>
            </p>
            <p><input type="button" id="save_button" value="Добавить" /></p>
        </form>
    </div>
{% endblock %}
