{% extends "points/points_master_page.html" %}
{% block includes %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascript/gmap/map.js"></script>
{% endblock %}
{% block title %}
    <title xmlns="http://www.w3.org/1999/html">Рассказать про точку доступа</title>
{% endblock %}
{% block content %}
<h2>Добавление точки доступа: </h2>
<div class="post">
    <p class="page_title">Добавление точки доступа</p>
    <form action="/points/create/" method="post">
        <p>{{ form.non_field_errors }}</p>
        <div class="field">
            <p>{{ form.name.errors}}</p>
            <p>{{ form.name.label }}{{ form.name }}</p>
        </div>
        <div class="field">
            <p>{{ form.average_signal.errors }}</p>
            <p>{{ form.average_signal.label }}{{ form.average_signal }}</p>
        </div>
        <div class="field">
            <p>{{ form.provider.errors }}</p>
            <p>{{ form.provider.label }}{{ form.provider }}</p>
        </div>
        <div class="field">
            <p>Введите координаты или укажите место на карте</p>
            <p>{{ form.coordinate_latitude.errors }}</p>
            <p>{{ form.coordinate_latitude.label }}{{ form.coordinate_latitude }}</p>
            <p>{{ form.coordinate_longitude.errors }}</p>
            <p>{{ form.coordinate_longitude.label }}{{ form.coordinate_longitude }}</p>
        </div>
        <div id="map">
        </div>
        <input type="submit" value="Добавить" class="submit_button"  />
        <script type="text/javascript" src="{{ STATIC_PREFIX }}javascript/gmap/add_point.js"></script>
    </form>
</div>
{% endblock %}