<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    {% block includes %}
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/main.css" type="text/css" media="screen" />
    {% endblock %}
    {% block title %}
    {% endblock %}
</head>
<body>
    {% block head %}
        <div id="layout">
            <div id="header">
                <div class="user_panel">
                    <a href="/">Зарегистрироваться</a>
                    <a href="/">Войти</a>
                </div>
                <div class="main_menu">
                    <div id="header_menu_background_for_ie">
                        <img id="logo_footsteps" src="{{ STATIC_PREFIX }}images/header.png">
                        <a href="/points/">точки доступа</a>
                        <a href="/providers/">провайдеры</a>
                        <a href="/posts/">новости</a>
                        <a href="/">о нас</a>

                    </div>
                </div>
                <div class="logo">
                    <a href="/" title="На главную страницу">
                        <img src="{{ STATIC_PREFIX }}images/wifi.png"  width="75" height="75" style="border: none"/>
                    </a>
                </div>
                <div class="search">
                     <form id="search_form" name="search" method="get" action="/search">
                         <input type="submit" value="">
                         <input type="text" name="q" value="поиск точек по адресу"
                                onfocus="this.value = (this.value =='поиск точек по адресу') ? '' : this.value"
                                onblur="this.value = (this.value == '') ? 'поиск точек по адресу' : this.value"
                                autocomplete="off">

                     </form>
                </div>
            </div>
    {% endblock %}
    <div class="content_left">
        <div id="content_left_background_for_ie">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block sidebar %}
    <div class="sidebar_right">
        <div class="sidebar_right_background_for_ie">

            <div id="add_new_point_invitation">
                Хочешь помочь нам? Знаешь где есть wifi?<br/>
                <a href="/points/create">Расскажи нам!</a>
            </div>

        </div>
    </div>
    {% endblock %}
    <div class="clear"></div>
    <div class="footer">
        {% include "footer.html" %}
    </div>
    </div>
</body>
</html>