html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: arial;
    font: inherit;
    vertical-align: baseline;
    outline:0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
b{font-weight:bold;}
i{font-style:italic;}

*:focus,
input:focus,
textarea:focus,
select:focus{/*outline:none;*/}
textarea{resize:none;}



body {
     background-color: white;
 }

#layout{
    text-align:left;
    margin:0 auto;
    padding:0 35px;
    padding-left:60px;
    min-width:940px;
    max-width:1154px;
    border:0px solid red;
}

#header{
    text-align: center;
    position: relative;
    padding-bottom: 24px;
    margin-top: -10px;
    padding-top: -10px;
}

#header .main_menu{
    text-align:left;
    font-size:30px;
    font-family: Verdana,sans-serif;
    text-transform:lowercase;
    margin: 0 15px 15px;
    zoom: 1;
    overflow:hidden;
    -webkit-box-shadow: 0 0 15px #969696;
    -moz-box-shadow: 0 0 15px #969696;
    box-shadow: 0 0 15px #969696;
    behavior: url(/static/javascript/PIE/PIE.htc);
}

#header_menu_background_for_ie {
    overflow:hidden;
    background-color: white;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
}

#header .main_menu a {
    font-family: arial;
    font-size: 30px;
    margin-top: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: #4682b4;
}

#header .main_menu a:hover {
    color: #1e90ff;
}

.user_panel {
    position: absolute;
    width: 350px;
    top: 100px;
    left: 15px;
    text-align: left;
    font-family: arial;
    text-transform: lowercase;
}

.user_panel a {
    color: #4682b4;
}

.user_panel a:hover {
    color: #1e90ff;
}

.logo {
    margin-top: 10px;
}

.logo h1 {
    color: #4682b4;
    font-style: italic;
}

.logo_label {
    color: #b0c4de;
    font-style: italic;
    font-size: 55px;
}

#logo_footsteps {
    display: inline;
    overflow: hidden;
    float: right;
}

.search {
    position: absolute;
    right: 0;
    top : 100px;
    width: 30%;
    margin-right: 15px;
    border: 0px solid #4682b4;
}

#search_form {
    width: 280px;
    float: right;
}

#header .search form input[type="text"] {
    font-size:12px;
    font-family:arial;
    border:1px solid #D1D1D1;
    background:#fff;
    color:#CCCCCC;
    padding:2px 4px;
    height:15px;
    width:226px;
    float:right;
    display:block;
}

#header .search form input[type="submit"] {
    border:0;
    background:url("../images/bg-button-enter.png") no-repeat 0 0;
    width:21px;
    height:21px;
    display:block;
    float:right;
    margin-left:5px;
}

/* CONTENT LEFT */

.content_left {
    float: left;
    margin-right: 1%;
    margin-left: 15px;
    width: 65.5%;
    -webkit-box-shadow: 0 0 15px #969696;
    -moz-box-shadow: 0 0 15px #969696;
    box-shadow: 0 0 15px #969696;
    behavior: url(/static/javascript/PIE/PIE.htc);
}

#content_left_background_for_ie {
    background-color: white;
    padding: 15px;
}

/* SIDEBAR */

.sidebar_right {
    float: left;
    width: 31%;
    overflow: hidden;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 15px #969696;
    -moz-box-shadow: 0 0 15px #969696;
    box-shadow: 0 0 15px #969696;
    behavior: url(/static/javascript/PIE/PIE.htc);
}

.sidebar_right_background_for_ie {
    background-color: white;
    padding: 15px;
}

.sidebar_right_content {
    padding: 10px;
    margin-bottom: 15px;
}

.sidebar_right_content_title {
    font-family: arial;
    font-size: 18px;
    color: #4682b4;
    margin-bottom: 10px;
}



#add_new_point_invitation {
    padding: 10px;
}

#add_new_point_invitation a {
    font-family: arial;
    font-size: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: #4682b4;
}
#add_new_point_invitation a:hover {
    color: #1e90ff;
}



.clear {
    clear: both;
}

.page_title {
    font-size: 30px;
    font-family: arial;
    margin-left: 35px;
    margin-bottom: 35px;
    color: #4682b4;
}

/* FOOTER */

#footer {
    font-size: 11px;
    font-family: arial;
    color: #949494;
    overflow: hidden;
    padding-top: 30px;
    margin-top: 60px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    border-top: 1px solid #CCC;
}


.footer_nav {
    position: relative;
    float: left;
    width: 164px;
    margin: 20px 10px;
    display: block;
    list-style: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


.footer_nav a {
    color: #4682b4;
    font-size: 14px;
    text-decoration: none;
}

.footer_nav a:hover {
    color: #1e90ff;
    text-decoration: underline;
}


/* BUTTONS */


.default_button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background: -moz-linear-gradient(#FAFAFA, #EAEAEA) repeat scroll 0 0 transparent;
    border-color: #D4D4D4 #D4D4D4 #BCBCBC;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 24px;
    padding: 0 10px;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    white-space: nowrap;
    behavior: url(/static/javascript/PIE/PIE.htc);
}

.default_button:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    border-color: #518CC6;
    border-bottom-color: #2A65A0;
    background-color: #599BDC;
    background: -webkit-linear-gradient(#599BDC, #3072B3);
    background: -moz-linear-gradient(#599BDC, #3072B3);
    background: -webkit-linear-gradient(#599BDC, #3072B3);
}

