.post {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.post img {
    margin: 10px;
}

.post p {
    margin-left: 15px;
}

.post p.title {
    padding-top: 10px;
    margin-left: 30px;
    font-size: 24px;
}

.post p.content {
    font-size: 16px;
}

.post p.created_at {
    font-size: 12px;
    padding-bottom: 10px;
}

.post p.title a {
    color: #4682b4;
}

#map {
    height: 560px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.errorlist {
    color: #1e90ff;
    text-decoration: #1e90ff;
    text-transform: lowercase;
}

.submit_button {
    background-color: #4682b4;
    border: none;
}

#provider_filter_select {

}


#search_form_points {
    font-size:12px;
    font-family:arial;
    border:1px solid #D1D1D1;
    background:#fff;
    padding:2px 4px;
    height:15px;
    width:226px;
    float:left;
    display:block;
}

#search_form_points_button {
    border:0;
    background:url("../images/bg-button-enter.png") no-repeat 0 0;
    width:21px;
    height:21px;
    display:block;
    float:left;
    margin-left:5px;
}