.post {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.post p {
    margin-left: 15px;
}

.post p.title {
    padding-top: 10px;
    margin-left: 30px;
    font-size: 24px;
}

.post p.content {
    font-size: 16px;
}

.post p.created_at {
    font-size: 12px;
    padding-bottom: 10px;
}

.post p.title a {
    color: #4682b4;
}

#map {
    overflow: hidden;
    height: 560px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.errorlist {
    color: #1e90ff;
    text-decoration: #1e90ff;
    text-transform: lowercase;
}

.submit_button {
    background-color: #4682b4;
    border: none;
}

#provider_filter {

}

#apply_filter_button {
    margin-top: 15px;
    background-color: #4682b4;
    border: none;
}