{% extends "points/points_master_page.html" %}
{% block includes %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}javascript/gmap/map.js"></script>
{% endblock %}
{% block title %}
    <title>Рассказать про точку доступа</title>
{% endblock %}
{% block content %}
<div class="post">
    <p class="page_title">Добавление точки доступа</p>
    <form action="/points/create/" method="post">
        <p>{{ form.non_field_errors }}</p>
        <div class="field">
            <ul>
                <li>{{ form.name.errors}}</li>
                <li>{{ form.name.label }}</li>
                <li>{{ form.name }}</li>
            </ul>
        </div>
        <div class="field">
            <ul>
                <li>{{ form.average_signal.errors }}</li>
                <li>{{ form.average_signal.label }}</li>
                <li>{{ form.average_signal }}</li>
            </ul>
        </div>
        <div class="field">
            <ul>
                <li>{{ form.provider.errors }}</li>
                <li>{{ form.provider.label }}</li>
                <li>{{ form.provider }}</li>
            </ul>
        </div>
        <div class="field">
            <ul>
                <li>Введите координаты или укажите место на карте</li>
                <li>{{ form.coordinate_latitude.errors }}</li>
                <li>{{ form.coordinate_latitude.label }}</li>
                <li>{{ form.coordinate_latitude }}</li>
                <li>{{ form.coordinate_longitude.errors }}</li>
                <li>{{ form.coordinate_longitude.label }}</li>
                <li>{{ form.coordinate_longitude }}</li>
            </ul>
        </div>
        <div id="map">
        </div>
        <input type="submit" value="Добавить" class="default_button"  />
        <script type="text/javascript" src="{{ STATIC_PREFIX }}javascript/gmap/add_point.js"></script>
    </form>
</div>
{% endblock %}