{% extends "points/points_master_page.html" %}
{% block title %}
    <title>Карта точек доступа</title>
{% endblock %}
{% block content %}
    <div class="post">
        <p class="page_title">Глобальная карта точек доступа</p>
        <div id="map">
        </div>
        <script src="{{ STATIC_PREFIX }}javascript/gmap/map.js"></script>
    </div>
{% endblock %}
{% block sidebar %}
    <div class="sidebar_right">
        <div class="sidebar_right_background_for_ie">
            <div class="sidebar_right_content">
                <p class="sidebar_right_content_title">Поиск</p>
                <div class="field">
                <input type="text" autocomplete="off"  id="search_form_points"
                       onblur="this.value = (this.value == '') ? 'Например: минск бобруйская' : this.value"
                       onfocus="this.value = (this.value =='Например: минск бобруйская') ? '' : this.value"
                       value="Например: минск бобруйская" name="q">
                <input type="button" id="search_form_points_button" value="">
                </div>
            </div>
            <div class="sidebar_right_content">
                <p class="sidebar_right_content_title">Фильтр</p>
                <p>Провайдер:
                <select id="provider_filter_select" title="Провайдер">
                    <option value="">Все</option>
                </select></p>
                <p><input type="button" value="Применить" class="default_button" id="apply_filter_button"></p>
            </div>
        </div>
    </div>
    {{ block.super }}
{% endblock %}
